<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

        <body>
            <h1 class=" mt-3 text-center">
                <%= title %>
            </h1>
            <h2 class="ms-5 mb-5"> List of products</h2>
            <div class="container  justify-content-center">
                <div class="container  justify-content-center row  h-25 mr-5 mb-5">
                    <% products.forEach(p=> { %>
                        <div class="card col-md-auto  " style="width: 18rem;">
                            <img src="<%= p.img %>" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h5 class="card-title">
                                    <%= p.name %>
                                </h5>
                                <div class="container text-truncate   ">
                                    <p class="card-text border  ">
                                        <%= p.description %>
                                    </p>
                                </div>
                                <a href="/products/detail/<%= p.id %>" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </body>

        </html>