<%- include('./partials/nav.ejs') %>
    <h2> list of products</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(p=> { %>
                <tr>
                    <td>
                        <%= p.id %>
                    </td>
                    <td>
                        <%= p.title %>
                    </td>
                    <td>
                        <%= p.price %>
                    </td>
                    <td> <a href="/productos/detalle/<%= p.id %>"> <img width="250px" src="<%= p.img %> "></a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>